@media and(max-width: 480px;){
    body{
        background-repeat: no-repeat;
        background-image: linear-gradient(to right,blue 0%,red 100%),url('w3css.gif');
        background-blend-mode:color-dodge;
    }    
}
.academic{
    background-color: yellow;
    text-align: center;
}